body {
    font-family: 'Verdana', sans-serif;
    background-image: url('uploads/R.gif'); 
    background-size: 150px 150px;
    background-repeat: repeat;
    background-attachment: fixed;
    background-color: #f4f4f4;
    color: #000000;
    margin: 0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #30185c;
    font-size: 26px;
}

.login-button {
    position: absolute;
    top: 10px;
    right: 100px;
}

.login-button button {
    background-color: #30185c;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}

.login-button button:hover {
    background-color: #30185c;
}

.container {
    width: 90%;
    max-width: 1200px;
    background-color: #f0e0d6;
    padding: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #30185c;
}

.post {
    margin-bottom: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #aaaaaa;
}

.post h2 {
    font-size: 14px;
    color: #000000;
    margin-bottom: 5px;
}

.post p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

.post img {
    max-width: 80%;
    height: auto;
    display: block;
    margin-top: 10px;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a, .pagination span {
    font-size: 14px;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #aaa;
    background-color: #f0e0d6;
    color: #000000;
}

.pagination a:hover {
    background-color: #dddddd;
}

.pagination span {
    background-color: #000000;
    color: #ffffff;
}

button {
    background-color: #30185c;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-top: 20px;
}

button:hover {
    background-color: #170635;
}

.comments {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
}

.comment {
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
}

.comment-date {
    display: block;
    font-size: 0.8em;
    color: #666;
}

.comment-form {
    margin-top: 15px;
}

.comment-form textarea {
    width: 100%;
    height: 60px;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.comment-form button {
    padding: 8px 15px;
    background-color: #30185c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.comment-form button:hover {
    background-color: #30185c;
}
